@charset "utf-8";

/*共通設定*/
*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}

body {
    font-size: 16px;
    line-height: 1.7;
    letter-spacing: 0.05em;
}

img {
    max-width: 100%;
}

.wrap {
    overflow: hidden;
    max-width: 599px;
    width: 100%;
    margin: 0 auto;
}

/*終わり*/


/*<div class="lp-area">*/
.img-area {
    width: 100%;
    height: 100%;
}

.img-area img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
}

    /*<div class="lp-12">*/
.lp-12 btn-area{
    position: relative;
}   

.lp-12 btn-area{
    position: absolute;
    bottom: 50%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    gap: 12px;
}

    /*<div class="lp-13">*/
.lp-13 btn-area{
    position: relative;
}   

.lp-13 btn-area {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    width: 98%;
    gap: 12px;
}

    /*<div class="btn-area">*/
.btn-area {
    display: flex;
    flex-direction: column;
}

.btn-area a {
    display: inline-block;
}

.btn-area a img {
    display: block;
}

/*終わり*/


/*タブレット*/
@media (max-width: 1024px) {
/*共通設定*/
/*終わり*/

/*<header class="header">*/
/*終わり*/
}


/*スマホ*/
@media (max-width: 599px) {
/*共通設定*/
/*終わり*/
}
